name: Test GCP WIF Connection

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  test-connection:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: '940902231079'
          workload_identity_provider: 'projects/940902231079/locations/global/workloadIdentityPools/github-pool/providers/hugeappl3github'
          service_account: 'github-deployer@tierapp-486801.iam.gserviceaccount.com'
      
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'
       
      - name: 'Test Gcloud'
        run: |
          gcloud auth list
          gcloud config list
          gcloud projects describe 940902231079
